# Runtime output
server/
txData/

# Temporary setup files
.tmp/
.redm-server-data-cfx/
.redm-server-data/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/

# Rider / IntelliJ local files
.idea/

# Environment files
.env

# Node modules
node_modules/

# Archives generated locally
*.7z
*.rar
*.zip
