########################################
# Admins
########################################

add_ace group.admin command allow

########################################
# Resources
########################################

add_ace resource.mapmanager command allow