########################################
# Network
########################################

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

sv_maxclients 8

set onesync on

########################################
# Server Information
########################################

sv_hostname "Trembita Games | Vanilla RedM"

sets sv_projectName "redm-vanilla-template"
sets sv_projectDesc "Minimal vanilla-first RedM server template"

load_server_icon server-icon.png

########################################
# Resources
########################################

ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

########################################
# Permissions
########################################

exec permissions.cfg

########################################
# Tags
########################################

sets tags "vanilla,redm,template"

########################################
# Locale
########################################

sets locale "en-US"

########################################
# Optional
########################################

# sv_enforceGameBuild 1491
# sv_master1 ""